@model Tarea_1.Models.EntidadArticulo

@{
    ViewData["Title"] = "Agregar";
}

<!--
<h1>Create</h1>
-->

<h4>Articulo</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            @if (TempData["Message"] != null)
            {
                <div>
                    @TempData["Message"]
                </div>
            }
            <h5> </h5>

            <div class="form-group">
                <input type="submit" value="Confirmar" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<a asp-action="Index">
    <h1>  </h1>
	<input type="submit" value="Cancelar" class="btn btn-primary">
</a>

<!--
<div>
    <a asp-action="Index">Volver a la lista</a>
</div>

<body>
    <button onclick="location.href='http://localhost:5030/EntidadArticuloes'">Llévame a otro lado</button>
</body>
-->

<!--
<body>
    <button onclick="location.href='http://localhost:5030/EntidadArticuloes'">Volver a la lista</button>
</body>
-->

<!--<a asp-action="Prueba_kkk"> 

<a asp-action="Prueba_kkk">
    <input value="Prueba" class="btn btn-primary">
</a>

-->


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");} }
