@model IEnumerable<EntidadArticulo>

<div class="row">
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nombre</th>
					<th>Precio</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var item in Model)
				{
					<tr>
						<td>@item.Id</td>
						<td>@item.Nombre</td>
						<td>@item.Precio</td>
					</tr>
				}
			</tbody>
		</table>
	</div>

</div>